@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.boost {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  padding: 1px;
}

.boost-section {
  width: 100%;
  margin-bottom: -5px;
}

.boost-section-title {
  font-size: 16px;
  color: #ffffff;
  text-align: left;
  margin-bottom: 25px;
}

.balance-title {
  margin-top: -30px;
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 15px;
}

.balance {
  display: flex;
  align-items: center;
  font-size: 28px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 10px;
}

.balance-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.boost-buttons-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 100%;
  max-width: 360px; /* Максимальна ширина контейнера */
  margin: 10px auto;
}

.boost-button {
  background-color: #161616;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  aspect-ratio: 1 / 1.1; /* Зберігаємо пропорції кнопки */
  padding: 10px;
  position: relative;
  overflow: hidden;
}

.boost-image-container {
  width: 60%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boost-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.boost-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.boost-text {
  font-size: 14px;
  font-weight: bold;
  color: white;
  margin-bottom: 5px;
  text-align: center;
}

.boost-timer {
  font-size: 10px;
  color: #a0a0a0;
  text-align: center;
}

.boost-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.turbo-image-container,
.energy-image-container,
.boost-image-container {
  position: relative;
  width: 55%; /* Розмір іконки відносно кнопки */
  height: 55%;
  margin-bottom: 5px;
}

.turbo-image,
.energy-image,
.boost-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.turbo-text-container,
.energy-text-container,
.boost-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40%; /* Виділяємо місце для тексту */
}

.turbo-text,
.energy-text,
.boost-text {
  font-size: 14px;
  font-weight: bold;
  color: white;
  margin-bottom: 5px;
  text-align: center;
}

.turbo-timer,
.energy-timer,
.boost-timer {
  font-size: 10px;
  color: #a0a0a0;
  text-align: center;
}
.boost-button.active {
  background-color: #3a3d42;
}
.done-icon.boost-timer {
  width: auto;
  height: 14px;  /* Це має відповідати розміру шрифту */
}