@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.energy-bar {
  display: flex;
  align-items: center;
  position: relative;
  background-color: #2c2c2c;
  border-radius: 25px;
  padding: 5px 20px;
  color: white;
  font-weight: bold;
  width: 80%;
  margin-bottom: 50px;
  height: 30px;
}

.settings-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-left: 10px;
  display: flex;
  align-items: center;
  height: 100%; /* Займаємо всю висоту батьківського елемента */
}

.settings-icon {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.energy-balance {
  min-width: 60px; /* Трохи зменшуємо мінімальну ширину */
  text-align: left;
  margin-right: 10px; /* Збільшуємо відступ справа */
  font-size: 14px;
  line-height: 1;
}

.energy-fill-container {
  flex-grow: 1;
  background-color: #444;
  height: 10px;
  border-radius: 5px;
  overflow: hidden;
  align-self: center;
}

.energy-fill {
  height: 100%;
 background: linear-gradient(to right, #f88f48 0%, #f78336 50%, #fd812d 100%);
  transition: width 0.3s ease;
}

.energy-content {
  display: flex;
  align-items: center;
  flex-grow: 1;
  height: 100%;
}

.energy-icon {
  margin-right: 5px;
  width: 16px; /* Встановлюємо ширину зображення */
  height: 16px; /* Встановлюємо висоту зображення */
  object-fit: contain; /* Забезпечуємо, щоб зображення вмістилося в задані розміри */
}