@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}

.game-interface {
  width: 100%;
  height: 100%;
  max-width: 414px;
  max-height: 896px;
  background-color: rgba(255, 255, 255, 0.8);
  background-image: url('/images/fon.png');
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 90px; /* приблизна висота меню плюс невеликий запас */
  box-sizing: border-box;
  position: relative;
  overflow-y: auto; /* Додано для прокрутки, якщо контент не вміщується */
}

.clicker {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.coin-balance {
  margin-bottom: 10px; /* Збільшуємо відступ між балансом і кнопкою рівня */
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.balance-icon {
  width: 30px;  /* Змініть розмір відповідно до ваших потреб */
  height: 30px;
  margin-right: 5px;
}

.badge {
  background-color: rgba(40, 43, 48, 0.54);
  color: white;
  padding: 5px 15px;
  border-radius: 15px;
  text-align: center;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.badge img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
}

.exchange-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tap-button {
  touch-action: manipulation;
  width: 250px;
  height: 250px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  margin-bottom: 20px;
}

.tap-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.plus-one {
  position: absolute;
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  pointer-events: none;
}

@keyframes floatUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50px);
  }
}

.exchange-text {
  font-size: 18px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.level-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #282b30;
  color: white;
  padding: 8px 15px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px; /* Додаємо верхній відступ */
}

.level-button:hover {
  background-color: #3a3d42;
}

.level-button .level-icon {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  vertical-align: middle;
}

.level-button .level-name {
  flex-grow: 1;
  text-align: center;
  font-size: 14px; /* Зменшений розмір шрифту */
  font-weight: 500; /* Додано невелику жирність для кращої читабельності */
}

.level-button .arrow-icon {
  width: 10px;
  height: 10px;
  margin-left: 5px;
  vertical-align: middle;
}